{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>
<!-- TODO: Feature 4 -->
<div class="container-sm">
    <h1>{{title}}</h1>
    <p>Id: {{id}}</p>
    <p>Rating: {{rating}}</p>
    <p>Director: {{director}}</p>
</div>
<div class="d-grid gap-2 d-md-block">
    <form action="/movies/{{id}}/edit" style="float:left;margin-right: 2px;" method="get">
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
    <form action="/movies/{{id}}/delete" style="float:left;margin-left:2px;" method="post">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>
{% endblock %}
